@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #646669;
}

.Character {
  white-space: pre;
}

.Character-current {
  background-color: #09d3ac;
}

.Character-out {
  color: silver;
}
